.timeBox {
    display: flex;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;

    > div {
        display: flex;
        align-items: center;

        > i {
            margin-right: 20px;
            font-size: 30px;
            color: #a3a3a3;
        }

        p {
            margin: 0;

            &:nth-of-type(1){
                color: gray;
                font-size: 12px;
            }
        }
    }

    > span {
        color: #b6b6b6;

        > i {
            font-size: 13px;
            margin-right: 5px;
        }

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

}
